In [1]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.24.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.32)
Requirement already satisfied: sqlparse in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (3.10.2)
Requirement already satisfied: ipython in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.24.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.32)
Requirement already satisfied: sqlparse in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [7]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [13]:
# SQL query to fetch unique launch sites
query = "SELECT DISTINCT Launch_Site FROM SPACEXTABLE"

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Unique Launch Sites:")
print(result)

 * sqlite:///my_data1.db
Done.
Unique Launch Sites:
+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+

In [12]:
%sql PRAGMA table_info(SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [14]:
# SQL query to fetch 5 records where launch sites begin with 'CCA'
query = "SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5"

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Records where LaunchSite begins with 'CCA':")
print(result)

 * sqlite:///my_data1.db
Done.
Records where LaunchSite begins with 'CCA':
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

In [25]:
# SQL query to calculate the total payload mass for NASA (CRS) launches
query = """
SELECT SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass
FROM SPACEXTABLE
WHERE Customer LIKE '%NASA (CRS)%'
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Total Payload Mass for NASA (CRS) launches:")
print(result)

 * sqlite:///my_data1.db
Done.
Total Payload Mass for NASA (CRS) launches:
+------------------+
| TotalPayloadMass |
+------------------+
|      48213       |
+------------------+

In [26]:
# SQL query to fetch unique launch sites
query = "SELECT DISTINCT Customer FROM SPACEXTABLE"

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Unique Launch Sites:")
# print(result)

 * sqlite:///my_data1.db
Done.
Unique Launch Sites:

In [27]:
# SQL query to calculate the total payload mass for NASA (CRS) launches
query = """
SELECT AVG(PAYLOAD_MASS__KG_) AS TotalPayloadMass
FROM SPACEXTABLE
WHERE Booster_Version LIKE '%F9 v1.1%'
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Total Payload Mass for NASA (CRS) launches:")
print(result)

 * sqlite:///my_data1.db
Done.
Total Payload Mass for NASA (CRS) launches:
+--------------------+
|  TotalPayloadMass  |
+--------------------+
| 2534.6666666666665 |
+--------------------+

In [29]:
# SQL query to find the earliest date of successful ground pad landing
query = """
SELECT MIN(Date) AS FirstSuccessfulLandingDate
FROM SPACEXTABLE
WHERE Landing_Outcome LIKE '%Success%' AND Landing_Outcome LIKE '%Ground Pad%'
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Date of the first successful landing on a ground pad:")
print(result)

 * sqlite:///my_data1.db
Done.
Date of the first successful landing on a ground pad:
+----------------------------+
| FirstSuccessfulLandingDate |
+----------------------------+
|         2015-12-22         |
+----------------------------+

In [30]:
# SQL query to get booster names with successful drone ship landing and payload mass between 4000 and 6000
query = """
SELECT Booster_Version
FROM SPACEXTABLE
WHERE Landing_Outcome LIKE '%Success%' 
  AND Landing_Outcome LIKE '%Drone Ship%'
  AND PAYLOAD_MASS__KG_ > 4000
  AND PAYLOAD_MASS__KG_ < 6000
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Boosters with successful drone ship landings and payload mass between 4000 and 6000:")
print(result)

 * sqlite:///my_data1.db
Done.
Boosters with successful drone ship landings and payload mass between 4000 and 6000:
+-----------------+
| Booster_Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

In [33]:
# SQL query to count the number of successful and failed missions
query = """
SELECT 
    CASE 
        WHEN Mission_Outcome LIKE '%Success%' THEN 'Successful'
        WHEN Mission_Outcome LIKE '%Failure%' THEN 'Failed'
        ELSE 'Other' 
    END AS MissionOutcome,
    COUNT(*) AS TotalMissions
FROM SPACEXTABLE
GROUP BY Mission_Outcome
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Total number of successful and failed mission outcomes:")
print(result)

 * sqlite:///my_data1.db
Done.
Total number of successful and failed mission outcomes:
+----------------+---------------+
| MissionOutcome | TotalMissions |
+----------------+---------------+
|     Failed     |       1       |
|   Successful   |       98      |
|   Successful   |       1       |
|   Successful   |       1       |
+----------------+---------------+

In [34]:
# SQL query to get the booster versions which carried the maximum payload mass using a subquery
query = """
SELECT Booster_Version
FROM SPACEXTABLE
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_) 
    FROM SPACEXTABLE
)
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Booster versions with the maximum payload mass:")
print(result)

 * sqlite:///my_data1.db
Done.
Booster versions with the maximum payload mass:
+-----------------+
| Booster_Version |
+-----------------+
|  F9 B5 B1048.4  |
|  F9 B5 B1049.4  |
|  F9 B5 B1051.3  |
|  F9 B5 B1056.4  |
|  F9 B5 B1048.5  |
|  F9 B5 B1051.4  |
|  F9 B5 B1049.5  |
|  F9 B5 B1060.2  |
|  F9 B5 B1058.3  |
|  F9 B5 B1051.6  |
|  F9 B5 B1060.3  |
|  F9 B5 B1049.7  |
+-----------------+

In [35]:
# SQL query to retrieve the records for 2015, failure outcomes in drone ship, and other required details
query = """
SELECT 
    CASE 
        WHEN substr(Date, 6, 2) = '01' THEN 'January'
        WHEN substr(Date, 6, 2) = '02' THEN 'February'
        WHEN substr(Date, 6, 2) = '03' THEN 'March'
        WHEN substr(Date, 6, 2) = '04' THEN 'April'
        WHEN substr(Date, 6, 2) = '05' THEN 'May'
        WHEN substr(Date, 6, 2) = '06' THEN 'June'
        WHEN substr(Date, 6, 2) = '07' THEN 'July'
        WHEN substr(Date, 6, 2) = '08' THEN 'August'
        WHEN substr(Date, 6, 2) = '09' THEN 'September'
        WHEN substr(Date, 6, 2) = '10' THEN 'October'
        WHEN substr(Date, 6, 2) = '11' THEN 'November'
        WHEN substr(Date, 6, 2) = '12' THEN 'December'
    END AS MonthName,
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM SPACEXTABLE
WHERE substr(Date, 0, 5) = '2015' 
  AND Landing_Outcome LIKE '%Failure%' 
  AND Landing_Outcome LIKE '%Drone Ship%'
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Records for failure landing outcomes in drone ship in 2015:")
print(result)

 * sqlite:///my_data1.db
Done.
Records for failure landing outcomes in drone ship in 2015:
+-----------+----------------------+-----------------+-------------+
| MonthName |   Landing_Outcome    | Booster_Version | Launch_Site |
+-----------+----------------------+-----------------+-------------+
|  January  | Failure (drone ship) |  F9 v1.1 B1012  | CCAFS LC-40 |
|   April   | Failure (drone ship) |  F9 v1.1 B1015  | CCAFS LC-40 |
+-----------+----------------------+-----------------+-------------+

In [36]:
# SQL query to rank the count of landing outcomes between the date range
query = """
SELECT Landing_Outcome, COUNT(*) AS OutcomeCount
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY OutcomeCount DESC
"""

# Execute the query using the %sql magic command
result = %sql $query

# Display the result
print("Landing outcomes ranked by count between 2010-06-04 and 2017-03-20:")
print(result)

 * sqlite:///my_data1.db
Done.
Landing outcomes ranked by count between 2010-06-04 and 2017-03-20:
+------------------------+--------------+
|    Landing_Outcome     | OutcomeCount |
+------------------------+--------------+
|       No attempt       |      10      |
|  Success (drone ship)  |      5       |
|  Failure (drone ship)  |      5       |
|  Success (ground pad)  |      3       |
|   Controlled (ocean)   |      3       |
|  Uncontrolled (ocean)  |      2       |
|  Failure (parachute)   |      2       |
| Precluded (drone ship) |      1       |
+------------------------+--------------+